<div class="container mt-2">
    <section>
      <div class="row">
        <h1>Article Title</h1>
        <p>by Akanksha Gupta on December 31,2023</p>
        <div class="col-md-8">
          <div class="article">
            <div class="row mt-3">
              <div class="col-md-12">
              <img src="../../../assets/6.jpg"style="min-height:200px;width:100%;">
              </div>
              </div>
              <div class="row mt-3">
              <div class="col-md-12 ">
               
                <p>Lorem, ipsum dolor Lorem, ipsum dolor Lorem, ipsum dolor Lorem, ipsum dolor  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint porro eveniet optio? Impedit repellat harum explicabo enim labore praesentium possimus necessitatibus qui quia officia inventore, cupiditate iusto, magni voluptate perspiciatis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eveniet sunt autem laudantium laboriosam quo voluptas id sequi! Non numquam perferendis eveniet illo modi voluptatum reprehenderit at sapiente magni id.
                </p>
                <a routerLink="/articles/1"class="btn btn-warning">Read More</a>
               </div>
            </div>

  
          </div>
        </div>
        <div class="col-md-4">
          <app-featured-articles></app-featured-articles>
          <app-categories></app-categories>
        </div>
      </div>
  
    </section>
  </div>