<div class="container"style="margin-top:50px;margin-bottom:50px;text-align:justify;">
    <div class="row">
      <div class="col-md-4">
        <div class="card custom-card">
          <img src="../../../assets/5.jpg" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tempora aspernatur perspiciatis dignissimos, fugit nemo odio tenetur temporibus? Cumque, pariatur amet. Quam, inventore accusamus accusantium laboriosam soluta at itaque ab!</p>
            <a routerLink="/articles/1" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card custom-card">
          <img src="../../../assets/5.jpg" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam ullam quidem aut commodi cupiditate, consequuntur vitae officia aliquid excepturi fuga similique voluptatibus consequatur in illum perferendis accusantium? Dignissimos, nemo!</p>
            <a routerLink="/articles/1" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card custom-card">
          <img src="../../../assets/5.jpg" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur, adipisicing elit. At, amet porro fuga tempore nulla sint. Ipsa illo aspernatur labore, cum magni iste placeat, soluta natus autem itaque recusandae, fuga nulla.</p>
            <a routerLink="/articles/1"class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="../../../assets/5.jpg" class="card-img-top" alt="Image">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tempora aspernatur perspiciatis dignissimos, fugit nemo odio tenetur temporibus? Cumque, pariatur amet. Quam, inventore accusamus accusantium laboriosam soluta at itaque ab!</p>
              <a routerLink="/articles/1" class="btn btn-primary">Read Moree</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="../../../assets/5.jpg" class="card-img-top" alt="Image">
            <div class="card-body">
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam ullam quidem aut commodi cupiditate, consequuntur vitae officia aliquid excepturi fuga similique voluptatibus consequatur in illum perferendis accusantium? Dignissimos, nemo!</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="../../../assets/5.jpg" class="card-img-top" alt="Image">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur, adipisicing elit. At, amet porro fuga tempore nulla sint. Ipsa illo aspernatur labore, cum magni iste placeat, soluta natus autem itaque recusandae, fuga nulla.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
  </div>