<div class="container-fluid">
    
    <div class="row">
        <h1>Featured Post</h1>
        <div class="col-md-8">
          <div class="article">
            <div class="row mt-2">
              <div class="col-md-7 ">
              <img src="../../../assets/6.jpg"style="min-height:100px;width:100%;">
              </div>
              <div class="col-md-5">
                <h2 class="pt-1">Article Title</h2>
                <p>by Akanksha Gupta</p>
                <p>Posted on:December 31,2023</p>
               </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-7">
                <img src="../../../assets/6.jpg"style="min-height:100px;width:100%;">
                </div>
                <div class="col-md-5">
                  <h2 class="pt-1">Article Title</h2>
                  <p>by Akanksha Gupta</p>
                  <p>Posted on:December 31,2023</p>
                 </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-7">
                <img src="../../../assets/6.jpg"style="min-height:100px;width:100%;">
                </div>
                <div class="col-md-5">
                  <h2 class="pt-1">Article Title</h2>
                  <p>by Akanksha Gupta</p>
                  <p>Posted on:December 31,2023</p>
                 </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-7">
                <img src="../../../assets/6.jpg"style="min-height:100px;width:100%;">
                </div>
                <div class="col-md-5">
                  <h2 class="pt-1">Article Title</h2>
                  <p>by Akanksha Gupta</p>
                  <p>Posted on:December 31,2023</p>
                 </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
        
        </div>
      </div>
 
</div>